// color
//$medapri: #294076; //同--bs-primary
//$medasec: #00b0c1; //fs-5設定色，同--bs-secondary
//$medasuc: #ff8500; //同--bs-success

$medpri: #294076; //fs-1 small --bs-primary
$medsec: #4d5f82; //fs-2 --bs-secondary
$medsuc: #7487b3; //fs-4 --bs-success
$meddan: #6d96b4; //fs-5_Bold card-title --bs-danger
$medwar: #3a5a9b; // --bs-warning

$med-bk-00: #fff;
$med-bk-40: #9f9e9f;
$med-bk-60: #6c757d;
$med-bk-80: #343a40;

$medpri70: #294076b5; //文章中段背景色
$medBlur: #2940768d; // 文章中段背景色blur用
$medlightbg: #f5f9fc; //文章中段背景色、頁腳底色
