// color
$medapri: #294076; //同--bs-primary, fs-2原設定色
$medapri-70: #294076b5; //fs-4原設定色
$medasec: #447f98; //同--bs-secondary
$medasuc: #ff8500; //同--bs-success
$medaInf: #eff4ff; //同--bs-info
$meda-bk-00: #fff;
$meda-bk-40: #9f9e9f;
$meda-bk-60: #6c757d;

// $meda-bk-60: #6c757d;
// $meda-bk-80: #595857;
