@mixin bg-center-cover {
  background-position: center center;
  background-size: cover;
  @content;
}

@mixin bg-setting($position1, $position2, $size, $repeat, $attachmant) {
  background-position: $position1 $position2;
  background-size: $size;
  background-repeat: $repeat;
  background-attachment: $attachmant;
  overflow: hidden;
  @content;
}

@mixin imgWidth($width) {
  max-width: $width;
  height: auto;
  @content;
}

@mixin card($size) {
  padding-top: $size;
  overflow: hidden;
  width: 100%;
  @content;
}

// callout
@mixin callout($color1, $color2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.6rem;
  margin-bottom: 0.5rem;
  color: $color1;
  background-color: $meda-bk-00;
  border-left: 0.4rem solid $color2;
}

// 螢光筆
@mixin markpen_y {
  background: linear-gradient(transparent 40%, rgba(255, 255, 255, 0) 40%, #fff176 90%, transparent 95%);
  padding: 2px 1px;
  @content;
}

// 分隔線
// 普通分隔線
@mixin hrStyle-common {
  border: 0;
  height: 1px;
  background: #ffffff;
  background-image: linear-gradient(to right, #ffffff #ffffff, #ffffff);
}

// 頭尾半透分隔線
@mixin hrStyle {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(41, 64, 118, 0), rgb(41, 64, 118), rgba(41, 64, 118, 0));
}

@mixin text-color($color1, $color2) {
  background-color: $color1;
  color: $color2;
  @content;
}

//段落前後加三角形
@mixin polygonTriangleBefore($height, $width, $color) {
  &::before {
    content: "";
    display: block;
    height: $height;
    width: $width;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background: $color;
  }
}

@mixin polygonTriangleAfter($height, $width, $color) {
  &::after {
    content: "";
    display: block;
    height: $height;
    width: $width;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background: $color;
  }
}

//段落前後加逆三角形
@mixin polygonTriangleBefore_reflection($height, $width, $color) {
  &::after {
    content: "";
    display: block;
    height: $height;
    width: $width;
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    background: $color;
  }
}

@mixin polygonTriangleAfter_reflection($height, $width, $color) {
  &::before {
    content: "";
    display: block;
    height: $height;
    width: $width;
    clip-path: polygon(0 100%, 0 0, 100% 0);
    background: $color;
  }
}
