@use 'base' as *;
@use 'components' as *;
@use 'media' as *;

// html {
//   scroll-padding-top: 66px; //header 高度
// }
// 全站設定

// 是否語系切換

#languageBanner {
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 90%;
  max-width: 520px;
  z-index: 99999;
  opacity: 0;
  transform: translateX(-50%) translateY(20px);
  transition: all 0.3s ease;
}

#languageBanner.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.language-banner {
  background: #fff;
  border-radius: 16px;
  padding: 14px 18px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

// #lang-banner {
//   position: fixed;
//   bottom: 20px;
//   left: 50%;
//   transform: translateX(-50%) translateY(20px);
//   opacity: 0;
//   z-index: 9999;
//   width: 90%;
//   max-width: 520px;
//   transition: all 0.3s ease;
// }

// #lang-banner.show {
//   transform: translateX(-50%) translateY(0);
//   opacity: 1;
// }

// .lang-banner-inner {
//   background: $med-bk-00;
//   border-radius: 14px;
//   padding: 14px 18px;
//   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   gap: 12px;
//   font-size: 14px;
// }

// .lang-actions {
//   display: flex;
//   align-items: center;
//   white-space: nowrap;
// }
// 是否語系切換end

p,
.fs-6,
.list-group-item {
  color: $med-bk-60;
}

.fs-2 {
  color: $medsec;
}

.fs-4 {
  color: $medsuc;
}

.cardAni {
  transition: 0.5s;
  &:hover {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
}

.cardBtn {
  background-color: rgba(255, 255, 255, 0.336);
  border-radius: 999px;
  border: 2 $med-bk-00 solid;
  border-color: $med-bk-00;
  color: $med-bk-00;
  transition: 0.3s;
  &:hover {
    background-color: $medpri70;
    border: 2 $medpri solid;
    border-color: $medpri;
    color: $med-bk-00;
  }
}

// 導航列
.navbarImg {
  height: 28px;
  width: auto;
  @include sm {
    height: 40px;
    width: auto;
  }
}

.dropdown-menu {
  .dropdown-item {
    color: $med-bk-60;
    font-weight: 300;
    &:hover,
    :active {
      background-color: $med-bk-00;
      color: $medactive;
    }
  }

  // .dropdown-item {
  //   .bi {
  //     margin-right: -1rem;
  //     color: transparent;
  //     transition: 0.5s;
  //   }
  //   &:hover,
  //   :active {
  //     .bi {
  //       margin-right: 0rem;
  //       color: $medsec;
  //     }
  //   }
  // }

  .dropdown-item.dropdown-item_none {
    color: $med-bk-60;
    &:hover,
    :active {
      background-color: $med-bk-00;
      color: $med-bk-60;
      font-weight: 300;
    }
  }
}

.nav-item {
  &:active,
  :hover {
    background-color: $medactive;
  }
  .active {
    background-color: $medactive;
  }
}

.nav-item.nav-item_none {
  &:active,
  :hover {
    background-color: $medpri;
    color: $med-bk-00;
  }
}

.dropdown-menu_lan {
  width: auto;
  min-width: 0;
}
.flag-icon {
  width: 24px;
  height: 16px;
  object-fit: cover;
  margin-right: 8px;
  border-radius: 2px;
}
.flag-btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  color: $med-bk-00;
  font-weight: 500;
  margin: 0;
}

//聯絡我們FAB
.contactFab {
  position: fixed;
  right: 16px;
  bottom: 65px;
  width: 60px;
  height: 60px;
  z-index: 1080;

  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1.25rem;
  }
}

.offcanvas-bottom {
  border-radius: 24px 24px 0 0;
}

.footerLogo {
  max-width: auto;
  height: 5vh;
  @include sm {
    max-width: auto;
    height: 4vh;
  }
}

.sectionPadding {
  padding: 72px 0;
  @include sm {
    padding: 128px 0;
    &.top {
      padding-top: 72px;
      padding-bottom: 128px;
    }
  }
}

.sectionmb72 {
  margin-bottom: 72px;
  @include sm {
    margin-bottom: 128px;
  }
}

//各底色
//priBlur-bg:contactUs
.primary70-bg {
  background-color: $medpri70;
}

.priBlur-bg {
  background-color: $medBlur;
}

.light-bg {
  background-color: $medlightbg;
}

.sectionFilter_bg {
  background-color: $medBlur;
  backdrop-filter: blur(10px);
}

//indexHero
.heroPic60 {
  @include bg-setting(60%, top, cover, no-repeat, scroll);
  @include sm {
    @include bg-setting(80%, top, 50%, no-repeat, scroll);
  }
  .heroHeight {
    min-height: 40vh;
    @include sm {
      min-height: 60vh;
    }
  }

  &.heroIndex {
    background-image: url('https://medalliance.com.tw/images/hero.webp');
  }
}

//各hero
.heroPicTop {
  min-height: 200px;
  @include bg-setting(top, center, cover, no-repeat, scroll);
  @include sm {
    min-height: 350px;
  }

  &.heroAllSolutions {
    background-image: url('https://medalliance.com.tw/images/solutions/all_solutions-hero.webp');
  }

  &.heroCartSolution {
    background-image: url('https://medalliance.com.tw/images/solutions/medical_cart_solutions/medical_cart_solutions.webp');
  }
}

.heroPic40 {
  min-height: 200px;
  @include bg-setting(40%, center, cover, no-repeat, scroll);
  @include sm {
    min-height: 350px;
  }

  &.heroAllServices {
    background-image: url('https://medalliance.com.tw/images/services/all_services-hero.webp');
  }

  &.heroCmOem {
    background-image: url('https://medalliance.com.tw/images/services/cm_oem_odm_ems-hero.webp');
  }
}

.heroPicCenter {
  min-height: 200px;
  @include bg-setting(center, center, cover, no-repeat, scroll);
  @include sm {
    min-height: 350px;
  }

  &.heroMaskSolution {
    background-image: url('https://medalliance.com.tw/images/solutions/medical_protective_mask_solutions/medical_protective_mask_solutions.webp');
  }

  &.heroNewsAllNews {
    background-image: url('https://medalliance.com.tw/images/about/news/all_news-hero.webp');
  }

  &.heroNews2022 {
    background-image: url('https://medalliance.com.tw/images/about/news/2022-hero.webp');
  }

  &.heroNews2023 {
    background-image: url('https://medalliance.com.tw/images/about/news/2023-hero.webp');
  }

  &.heroContact {
    background-image: url('https://medalliance.com.tw/images/contact.webp');
  }

  &.heroCrossDeviceIngteration {
    background-image: url('https://medalliance.com.tw/images/services/cross-device_integration_and_workflow_advisory-hero.webp');
  }

  &.heroExportProducts {
    background-image: url('https://medalliance.com.tw/images/services/export_products-hero.webp');
  }

  &.heroGlobalMarket {
    background-image: url('https://medalliance.com.tw/images/services/global_market_expansion_advisory-hero.webp');
  }

  &.heroSmartHealthcareConsulting {
    background-image: url('https://medalliance.com.tw/images/services/smart_healthcare_consulting-hero.webp');
  }
}
