@use "base" as *;
@use "components" as *;
@use "media" as *;

// html {
//   scroll-padding-top: 66px; //header 高度
// }
// 全站設定

p,
.list-group-item {
  color: $meda-bk-60;
}

.fs-4 {
  color: $medapri-70;
}

.p_gray600 {
  color: $meda-bk-60;
}

.cardAni {
  transition: 0.5s;
  &:hover {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
}
// 導航列
.p_navLink {
  color: $medasec;
}

.navbarImg {
  height: 28px;
  width: auto;
  @include sm {
    height: 40px;
    width: auto;
  }
}

.dropdown-menu {
  .dropdown-item {
    color: $meda-bk-60;
    font-weight: 300;
    &:hover,
    :active {
      background-color: $meda-bk-00;
      color: $medasec;
    }
  }

  // .dropdown-item {
  //   .bi {
  //     margin-right: -1rem;
  //     color: transparent;
  //     transition: 0.5s;
  //   }
  //   &:hover,
  //   :active {
  //     .bi {
  //       margin-right: 0rem;
  //       color: $medasec;
  //     }
  //   }
  // }

  .dropdown-item.dropdown-item_none {
    &:hover,
    :active {
      background-color: $meda-bk-00;
      color: $meda-bk-40;
    }
  }
}

.nav-item {
  &:active,
  :hover {
    background-color: $medasec;
  }
}

.nav-item.nav-item_none {
  &:active,
  :hover {
    background-color: $medapri;
    color: $meda-bk-00;
  }
}
