@use "./base";
@use "./components";
@use "./media";

// html {
//   scroll-padding-top: 66px; //header 高度
// }
// 全站設定

p,
.list-group-item {
  color: $meda-bk-60;
}

.fs-4 {
  color: $medapri-70;
}

.cardAni {
  transition: 0.5s;
  &:hover {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
}
// 導航列
.p_navLink {
  color: $medapriOutlinebtn;
}

.navbarImg {
  height: 28px;
  width: auto;
  @include sm {
    height: 40px;
    width: auto;
  }
}
.navbar {
  .navbar-nav {
    .nav-item {
      &:active,
      :hover {
        background-color: $medasec;
      }

      .dropdown-menu {
        .dropdown-item {
          color: $meda-bk-60;
          &:active,
          :hover {
            background-color: $meda-bk-00;
            color: $medasec;
            font-weight: bold;
          }
        }
      }
    }
  }
}
