@import "base";
@import "media";
@import "components";

// html {
//   scroll-padding-top: 200px; //header 高度
// }

.heroPic {
  min-height: 250px;
  @include bg-setting(center, center, cover, no-repeat, scroll);
}

.productsPt {
  overflow: hidden;
  padding-top: 93px;

  @include sm {
    padding-top: 119px;
  }

  @include md {
    padding-top: 109px;
  }
}

.productsTab {
  z-index: 2;
  height: 142px;
  position: sticky;
  top: -30px;

  @include sm {
    top: 0px;
  }

  li {
    button {
      font-size: 1rem;

      @include sm {
        font-size: calc(1.275rem + 0.3vw);
      }
    }
  }
}

.calloutPriamry70 {
  @include callout($medasec, #ffffff00, $medasec);
}

.productsCard {
  background-color: $medaInf;
  transition: 0.5s;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }
}
