@use "base" as *;
@use "components" as *;
@use "media" as *;

.heroPic {
  min-height: 40vh;
  background-image: url(../images/hero.webp);
  @include bg-setting(60%, top, cover, no-repeat, scroll);
  @include sm {
    min-height: 60vh;
    @include bg-setting(80%, top, 50%, no-repeat, scroll);
  }
}
.heroTitle {
  background-color: rgba(255, 255, 255, 0.062);
  backdrop-filter: blur(3px);
  @include sm {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
  }
}

.indexCard {
  @include card(100%);
  &.solutionBg {
    @include bg-setting(center, center, cover, no-repeat, scroll);
    @include sm {
      @include bg-setting(right, 0%, cover, no-repeat, scroll);
    }
  }

  &.deviceBG {
    @include bg-setting(center, center, cover, no-repeat, scroll);
    @include sm {
      @include bg-setting(left, center, 130%, no-repeat, visible);
    }
  }
}

.consultingBg {
  @include bg-setting(center, center, cover, no-repeat, fixed);
  @include sm {
    @include bg-setting(center, center, cover, no-repeat, scroll);
  }
}

.medicalBg {
  min-height: 60vh;
  background-image: url(../images/index/medical_device_solution-as-a_service.webp);
  @include bg-setting(center, right, 60%, no-repeat, scroll);
}
