@use 'base' as *;
@use 'components' as *;
@use 'media' as *;

// index
.heroPic {
  min-height: 40vh;
  background-image: url(https://medalliance.com.tw/images/hero.webp);
  @include bg-setting(60%, top, cover, no-repeat, scroll);
  @include sm {
    min-height: 60vh;
    @include bg-setting(80%, top, 50%, no-repeat, scroll);
  }
}
.heroTitle {
  background-color: rgba(255, 255, 255, 0.062);
  backdrop-filter: blur(3px);
  @include sm {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
  }
}
.mb120 {
  margin-bottom: 24px;
  @include sm {
    margin-bottom: 120px;
  }
}

.py120 {
  padding: 0px;
  @include sm {
    padding: 120px 0px;
  }
}
.indexCard {
  @include card(100%);
  &.solutionBg {
    @include bg-setting(center, center, cover, no-repeat, scroll);
    @include sm {
      @include bg-setting(right, 0%, cover, no-repeat, scroll);
    }
  }

  &.deviceBG {
    @include bg-setting(center, center, cover, no-repeat, scroll);
    @include sm {
      @include bg-setting(left, center, 130%, no-repeat, visible);
    }
  }
}

.consultingBg {
  @include bg-setting(center, center, cover, no-repeat, fixed);
  @include sm {
    @include bg-setting(center, center, cover, no-repeat, scroll);
  }
}

.inOneBg {
  @include sm {
    background-image: url(https://medalliance.com.tw/images/index/all-in-one_solutions-sm.webp);
    @include bg-setting(center, right, cover, no-repeat, scroll);
  }
}

.infoSet {
  position: absolute;
  top: 30%;
  right: -10%;
  width: 120%;
  @include sm {
    position: absolute;
    top: 36%;
    right: -4%;
    width: 110%;
  }
}

.medicalBg {
  min-height: 30vh;
  background-image: url(https://medalliance.com.tw/images/index/medical_device_solution-as-a_service.webp);
  @include bg-setting(center, center, 100%, no-repeat, scroll);
  @include sm {
    min-height: 60vh;
    background-image: url(https://medalliance.com.tw/images/index/medical_device_solution-as-a_service.webp);
    @include bg-setting(center, right, 100%, no-repeat, scroll);
  }
}
