@use "base" as *;
@use "components" as *;
@use "media" as *;

.heroPic {
  min-height: 250px;
  @include bg-setting(center, center, cover, no-repeat, scroll);
}

.newsCard-bg {
  min-height: 150px;
  @include sm {
    height: auto;
  }
}
