@use "base" as *;
@use "media" as *;
@use "components" as *;

.viedoLocation {
  @include card(56.25%);
  position: relative;
}

.squareCard {
  @include card(60%);
  position: relative;
  @include bg-setting(center, center, cover, no-repeat, scroll);
}

.cardContent {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  &:nth-child(odd) {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
}

.contenctSection {
  flex-direction: column;
  margin-right: 0%;

  & > :first-child {
    margin-right: 0%;

    @include sm {
      margin-right: -10%;
    }
  }

  &:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @include sm {
      flex-direction: row;
    }
  }

  @include sm {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .contentImg {
    width: 100%;
    overflow: hidden;

    @include sm {
      width: 50%;
      flex-shrink: 0;
    }
  }

  .contentArticle {
    width: 100%;
    background-color: #ffffffac;
    padding: 0.5rem;
    position: relative;
    z-index: 2;

    @include sm {
      width: 60%;
      flex-shrink: 0;
    }
  }
}
