@use 'base' as *;
@use 'media' as *;
@use 'components' as *;

// .productsPt {
//   overflow: hidden;
//   padding-top: 93px;

//   @include sm {
//     padding-top: 119px;
//   }

//   @include md {
//     padding-top: 109px;
//   }
// }

.heroPic-allProducts {
  background-image: url('https://medalliance.com.tw/images/product/products-hero.webp');
  min-height: 200px;
  @include bg-setting(top, center, cover, no-repeat, scroll);
  @include sm {
    min-height: 350px;
  }
}

//productsPage
.productsTab {
  z-index: 2;
  height: 84px;
  position: sticky;
  top: 0px;
  background-color: $medactive;

  @include sm {
    height: 112px;
    top: 0px;
  }

  li {
    button {
      font-size: 1rem;

      @include sm {
        font-size: calc(1.275rem + 0.3vw);
      }
    }
  }
}

//allProucts
.calloutPriamry70 {
  @include callout($meddan, #ffffff00, $meddan);
}

.productsCard {
  // background-color: $medaInf;
  transition: 0.5s;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }
}

.nav-link {
  color: $med-bk-60;
  &:hover,
  :active {
    font-weight: normal;
    color: $med-bk-60;
  }
}
